.button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 12px;

  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;

  color: var(--color-secondary)
}

.icon {
  stroke: #41522E;
}

.button:hover {
  color: var(--main-radius)
}

.button:hover .icon {
  stroke: var(--color-main);
}

.button:active {
  color: var(--color-error)
}

.button:active .icon {
  stroke: var(--color-error);
}