.wrapper {
  padding: 32px;
  background-color: #fff;
  border-radius: var(--main-radius);
}

.slide.slide-current.slide-visible,
/*.slide,*/
.slide-visible {
  width: 164px !important;
  margin-right: 20px;
}

.slider-control-bottomcenter {

}